AWSTemplateFormatVersion: 2010-09-09
Resources:
    S3Bucket:
        Type: AWS::S3::Bucket
        Properties:
            BucketName: cf-codeandtech
            AccessControl: PublicRead
            WebsiteConfiguration:
                IndexDocument: index.html
                ErrorDocument: error.html

        DeletionPolicy: Delete
    BucketPolicy:
        Type: AWS::S3::BucketPolicy
        Properties:
            PolicyDocument:
                Id: MyBucketPolicy

                Statement:
                  - Sid: PublicReadForGetS3Objects
                    Principal: '*'
                    Effect: Allow
                    Action: 's3:GetObject'
                    Resource:  !Join
                        - ''
                        - - 'arn:aws:s3:::'
                          - !Ref S3Bucket
                          - /*
            Bucket: !Ref S3Bucket
Outputs:
    WebsiteURL:
        Value: !GetAtt
            - S3Bucket
            - WebsiteURL
        Description: Simple s3 bucket from cloudformation
    S3BucketSecureURL:
        Value: !Join
            - ''
            - - 'https://'
              - !GetAtt
                - S3Bucket
                - DomainName
        Description: Secure URL for s3 bucket